<div class="home">
    <h1>The Members Only App</h1>
    <h2>You can read members articles but to post you need to be a member!</h2>
    <p class="center">
        <% if logged_in? %>
            <%= link_to "Articles", posts_path ,class: "btn btn-primary btn-lg" %>
        <% else %>
            <%= link_to "Sign up", new_user_path ,class: "btn btn-primary btn-lg" %>
        <% end %>
    </p>
</div>