<div class="home">
    <h1>The Members Only App</h1>
    <h2>You can read members articles but to post you need to sign up below</h2>
    <p class="center"><%= link_to "Sign up", "#" ,class: "btn btn-primary btn-lg" %></p>
</div>