<footer class="footer col-md-12">
    <small class="footer-small">
        The <a href="https://github.com/Redvanisation/members-only" target="_blank">Members Only App</a>
        coded by <a href="https://github.com/Redvanisation" target="_blank">Redvan</a> and 
        <a href= "https://github.com/MouhaDiouf" target="_blank">Mouhamadou</a>
    </small>
</footer>